body{
   background-color: whitesmoke;
   color: black;
   font-size: x-large
}


img{
    width: 1255px;
    height: 320px;
}

h1, h2{
    text-align: center;
}
nav{
    text-align: center;
}
footer{
    background-color: rgb(0, 157, 255);
    color: black;
    text-align: center;
}
button{
    background-color: black;
    color: gainsboro;
    font-size: x-large;
    size: 500px;
}
